.searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

.imput{
    border-bottom: 2px;
    border-color: #f8db34;
    border-radius: 5px;
}

.boton{
   border-radius: 5px;
   background-color: #f8db34;
   border: #f8db34 ;
   border-bottom: 2px;
}

.boton:hover{
        transform: scale(1.05) ;
        background:#ffff51;
        box-shadow: 0 0 10px #0c0c0b ;
        transition-delay: .2s;
        color: rgb(7, 7, 1);
}